    <nav class="navbar">
      <p class="logo">Mean Stack</p>
      <div class="links">
          <a href="/">Home</a>
          <a href="/login">login</a>
          <a href="/register">Register</a>
      </div>
    </nav>