<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css">
    <title>MEAN STACK TASK-1</title>
</head>

<body>
    {{>navbar}}

    <div class="main-div">
        <div class="form-div">
            <h3>Registration Form</h3>
            <form action="/register" method="post">
                <div class="form">
                    <div class="elems">
                        <label for="fname">First Name</label>
                        <input  type="text" name="firstname" id="input-elem" placeholder="Enter Firstname" />
                    </div>
                    <div class="elems">
                        <label for="lname">Last Name</label>
                        <input  type="text" name="lastname" id="input-elem" placeholder="Enter Lastname" />
                    </div>
                    <div class="elems">
                        <label for="mobile">Mobile</label>
                        <input  type="number" name="phone" id="input-elem" placeholder="Enter Mobile" />
                    </div>
                    <div class="elems">
                        <label for="age">Age</label>
                        <input  type="number" name="age" id="input-elem" placeholder="Enter Age" />
                    </div>
                    <div class="elems">
                        <label for="email">E-mail</label>
                        <input  type="email" name="email" id="input-elem" placeholder="Enter E-mail" />
                    </div>
                    <div class="elems ">
                        <div class="elem-r">
                            <input  type="radio" id="genderChoice1" name="gender" value="male">
                            <label for="genderChoice1">Male</label>
                        </div>
                        <div class="elem-r">
                            <input  type="radio" id="genderChoice2" name="gender" value="female">
                            <label for="genderChoice2">Female</label>
                        </div>

                    </div>
                    <div class="elems">
                        <label for="password">Password</label>
                        <input  type="password" name="password" id="input-elem" placeholder="Enter Password" />
                    </div>
                    <div class="elems">
                        <label for="confirm">Confirm Password</label>
                        <input  type="password" name="confirmpassword" id="input-elem" placeholder="Confirm Password" />
                    </div>
                    <div class="btns">
                        <button type="submit">Register</button>
                        <button type="reset">Reset</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>

</html>